@{
    Layout = "_Layout";
}
<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Hissedar ve Araç Hissedarı Tanımlama
                </h3>
            </div>
        </div>
    </div>
    <!--begin: Form Wizard-->
    <div class="m-wizard m-wizard--5 m-wizard--success" id="m_wizard">
        <!--begin: Message container -->
        <div class="m-portlet__padding-x">
            <!-- Here you can put a message or alert -->
        </div>
        <!--end: Message container -->
        <!--begin: Form Wizard Head -->
        <div class="m-wizard__head m-portlet__padding-x">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <!--begin: Form Wizard Nav -->
                    <div class="m-wizard__nav">
                        <div class="m-wizard__steps">
                            <div class="m-wizard__step m-wizard__step--current" data-wizard-target="#m_wizard_form_step_1">
                                <div class="m-wizard__step-info">
                                    <a href="#" class="m-wizard__step-number">
                                        <span class="m-wizard__step-seq">
                                            1.
                                        </span>
                                        <span class="m-wizard__step-label">
                                            Hissedar
                                        </span>
                                        <span class="m-wizard__step-icon">
                                            <i class="la la-check"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_2" id="arac">
                                <div class="m-wizard__step-info">
                                    <a href="#" class="m-wizard__step-number">
                                        <span class="m-wizard__step-seq">
                                            2.
                                        </span>
                                        <span class="m-wizard__step-label">
                                            Araç Hissedar
                                        </span>
                                        <span class="m-wizard__step-icon">
                                            <i class="la la-check"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Nav -->
                </div>
            </div>
        </div>
        <!--end: Form Wizard Head -->
        <!--begin: Form Wizard Form-->
        <div class="m-wizard__form">
            <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" id="m_form">
                <!--begin: Form Body -->
                <div class="m-portlet__body">
                    <!--begin: Form Wizard Step 1-->
                    <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_1">
                        <div class="col-xl-12">
                            @Html.Partial("PartialShareholder")
                        </div>
                    </div>
                    <!--end: Form Wizard Step 1-->
                    <!--begin: Form Wizard Step 2-->
                    <div class="m-wizard__form-step" id="m_wizard_form_step_2">
                        <div class="col-xl-12">
                            @Html.Partial("PartialVehicleShareholder")
                        </div>
                    </div>
                    <!--end: Form Wizard Step 2-->
                </div>
                <!--end: Form Body -->
                <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-5"></div>
                            <div class="col-lg-6 m--align-right">
                                <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon" data-wizard-action="submit" style="display: none !important">
                                    <span>
                                        <i class="la la-check"></i>
                                        &nbsp;&nbsp;
                                        <span>
                                            Submit
                                        </span>
                                    </span>
                                </a>
                                <a href="#" class="btn btn-warning m-btn m-btn--custom m-btn--icon" data-wizard-action="next" style="display: none !important">
                                    <span>
                                        <span>
                                            Kaydet & Devamet
                                        </span>
                                        &nbsp;&nbsp;
                                        <i class="la la-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--end: Form Wizard Form-->
    </div>
    <!--end: Form Wizard-->
</div>

<script src="~/js/Wizard/wizard.js"></script>
<script>
    var wizard;

    function onInserted(e) {
        var formEl = $('#m_form');
        var btn = formEl.find('[data-wizard-action="next"]');
        if (e.element[0].id === "gvShareholder") {
            btn.click();
        }
        if (e.element[0].id === "gvVehicleShareholder") {
            stopTimer();
        }
    }

    function onInserting(e) {
        if (e.element[0].id === "gvVehicleShareholder") {
            startTimer();
        }
    }

    function cell_prepared(e) {
        if (e.rowType === "data" && e.column.command === "edit") {
            var isEditing = e.row.isEditing,
                $links = e.cellElement.find(".dx-link");

            $links.text("");

            if (isEditing) {
                $links.filter(".dx-link-save").addClass("dx-icon-save");
                $links.filter(".dx-link-cancel").addClass("dx-icon-revert");
            } else {
                $links.filter(".dx-link-edit").addClass("dx-icon-edit");
                $links.filter(".dx-link-delete").addClass("dx-icon-trash");
            }
        }
       
    }

    /*  var institutions = "";
      function rowFilter(e) {
          var grid = $("#ddlInstitution").dxLookup("instance");
          institutions = e.value;
  
      }*/

    function getFilterPlates(options) {

        return {
            store: DevExpress.data.AspNet.createStore({
                key: "plaka",
                loadUrl: '@Url.Action("FillPlatesCorp", "Shareholder", new {httproute = true})'
            }),
            filter: options.data ? ["kurumKodu", "=", options.data.kurumKodu] : null
        };
    }

    function setKurumValue(rowData, value) {
        rowData.kurumKodu = value;
        rowData.plaka = null;
    }

    var timer;

    function startTimer() {
        timer = setTimeout(function() { loadPanel.show(); }, 1000);
    }

    function stopTimer() {
        clearTimeout(timer);
        loadPanel.hide();
    }

    

</script>