<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions--solid" style="border-radius: 5px;">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom" id="btnSave">
                    @*class="btn btn-success"*@
                    Kaydet
                </button>
                @*<button type="reset" class="btn btn-secondary">
                    Cancel
                </button>*@
            </div>
        </div>
    </div>
</div>