<label class="col-lg-2 col-form-label">
    Bitiş Tarih
</label>
<div class="col-lg-3">
    <div id="end-date" style="width: 100% !important;" data-skin="dark" data-toggle="m-tooltip" data-placement="top" data-original-title="Bitiş Tarihi"></div>
    <span class="m-form__help">
        Lütfen Bitiş Tarihini Giriniz
    </span>
</div>

<script type="text/javascript">
    var newDate = new Date();
    var endDate = newDate.getDate();
    var endMonth = newDate.getMonth();
    var endYear = newDate.getFullYear();
    $("#end-date").dxDateBox({
        type: "date",
        displayFormat: "dd.MM.yyyy", //HH:mm:ss
        disabled: false,
        pickerType: "calendar",
        applyValueMode: "instantly",
        value: new Date(endYear, endMonth, endDate),
        //showClearButton: true
        calendarOptions: {
            firstDayOfWeek: 1,
            cellTemplate: function(cellData, cellIndex, cellElement) {
                var color = $("<span>").css({ "color": "#8a86a8", "font-weight": "bold" }).text(cellData.text);
                var normal = $("<span>").text(cellData.text);
                return (cellIndex === 5 || cellIndex === 6) ? color : normal;
            }
        }
    });

    function GetEndDate() {
        var dateBox = $("#end-date").dxDateBox("instance");
        var dateBoxValue = dateBox.option('value');
        var month = dateBoxValue.getMonth() + 1;
        return dateBoxValue.getFullYear() +
            '.' +
            month +
            '.' +
            dateBoxValue.getDate();
        //+
        //' ' +
        //dateBoxValue.getHours() +
        //':' +
        //dateBoxValue.getMinutes() +
        //':' +
        //dateBoxValue.getSeconds();
    }

</script>