@using Asis.Ulasim.Models.Fills
@{
    var role = new Roles();
    IQueryable<RoleModel> roles = null;
    roles = role.FillRoles();
}
<label class="col-xl-3 col-lg-3 col-form-label" style="text-align:right;">Roles</label>
<div id="dvRoller" class="col-lg-6 col-xl-6">
    <select id="roles" name="roles" class="form-control form-control-lg form-control-solid">
        @{
            if (roles.Any())
            {
                <option value='-1'>Select Roles</option>
                foreach (var item in roles)
                {
                    {
                        <option value='@item.Id'>@item.RoleName</option>
                    }
                }
            }
            else
            {
                <option value="HI" disabled="disabled">No Data</option>
            }
        }
    </select>
</div>

<script type="text/javascript">
    function GetRoles() {
        debugger;
        var role = "";
        if ($("#roles").val === "HI") {
            role = -1;
        }
        var roleArray = new Array();
        if (document.getElementById("roles").selectedIndex === -1) {
            $("#roles > option").each(function () {
                roleArray.push($(this).val());
            });
            role = roleArray.join(',');
        } else {
            $("#roles > option:selected").each(function () {
                roleArray.push($(this).val());
            });
            role = roleArray.join(',');
        }
        return role;
    }
</script>
