<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions--solid" style="border-radius: 5px;">
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-7" id="colSchedule">
                <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom" id="btnQuery">
                    @*class="btn btn-success"*@
                    Query
                </button>
                <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom" id="btnConfirm" value="Onayla" style="display: none">
                    Onayla
                </button>
                <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom" id="btnDiscontinious" value="Onayla" style="display: none">
                    Kesinti Uygula
                </button>
                @*<button type="reset" class="btn btn-secondary">
                    Cancel
                </button>*@
            </div>
        </div>
    </div>
</div>

@*<script type="text/javascript">
    $("#btnQuery").click(function () {
        $('html,body').animate({
            scrollTop: '800'
        }, 5000);
    });
</script>*@